:root{
    --black: #212121;
    --grey: #757575;
    --white: #FFFFFF;
    --blu: #2196F3;
    
}

.body{
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#000000;
    text-decoration: none;
}

.accent{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blu);
    
}

.studio{
    color: var(--blu);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    text-decoration: none;
    
}

.nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    color: var(--black);
    text-decoration: none;    
}

.nav:hover,
.nav:focus{
    color: var(--blu);
}

.link-mail{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    color: var(--blu);
    text-decoration: none;
}

.link-number{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    color: var(--grey);
    text-decoration: none;
}

.link-number:hover,
.link-number:focus{
    color: var(--blu);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.19;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.button-link{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    background-color: var(--blu);

}

.button-link:hover,
.button-link:focus{
    background-color: #188CE8;
    cursor: pointer;

}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.19;
    text-align: center;
    color:var(--black);
}

.section{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;
    text-transform: uppercase;
    color: var(--black);
}

.section-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    color: var(--grey);
    
}

.title-foto{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--black);
}

.paragraf-foto{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;    
    color: var(--grey);
}

.address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;  
    color: var(--white);
    text-decoration: none;
}

.address:hover,
.address:focus{
    color: var(--blu);
}

.section-background{
    background-color: #2F303A;
}

.button-project{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    color: var(--black);
    list-style: none;

}

.button-project:hover,
.button-project:focus{
    cursor: pointer;
    background-color: #188CE8;

}

.project{
    list-style: none;

}

.titel-project{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.19;
    color: var(--black);
}

.description-project{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--grey);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }

.list{
        list-style: none;
 }

.logo-footer{
    color: var(--white);  
 }

.footer-background{
    background-color: #2F303A;

}